<h1>Results</h1>
<h2>You scored <%= session[:score] %> out of 3!</h2>
<%= session[:ans1] %>
<ol>
<% INSTRUMENT.each_with_index do |item, index| %>
  <li>
    <p>
      <%= item[:question] %>
    </p>
    You answered <%= session[:answers][index] %> <%= item[:unit] %>.
    <% if session[:answers][index] == item[:solution] %>
      <strong>That's correct!</strong>
    <% else %>
      <strong>That's incorrect.</strong>
    <% end %>
    
  </li>
<% end %>
</ol>

<div class='actions'>
  <form method='post' action='/reset'>
    <label>Click the button if you want to try again.</label>
    <br>
    <input type='submit' value='Try Again'>
  </form>
</div>