<h1>Results</h1>

<h2>You scored <%= session[:score] %> out of 3!</h2>

<ol>
<% INSTRUMENT.each_with_index do |item, index| %>
  <li>
    <p><%= item[:question] %></p>
    
    You answered <%= session[:answers][index] %> <%= item[:unit] %>.
    
    <% if session[:answers][index] == item[:solution] %>
      <div class='correct'>Correct!</div>
    <% else %>
      <div class='incorrect'>Incorrect.</div>
    <% end %>

    <button onclick="showSolution('solution<%= index %>')">Explanation</button>
    <div class='solutions' id='solution<%= index %>'display style='display:none;'>
      <p><%= item[:explanation] %></p>
    </div>

  </li>
<% end %>
</ol>

<div class='actions'>
  <form method='post' action='/reset'>
    <label>Click the button if you want to try again.</label>
    <input type='submit' value='Try Again'>
  </form>
</div>

<script>
function showSolution(solution) {
  var x = document.getElementById(solution);
  if (x.style.display === 'none') {
    x.style.display = 'block';
  } else {
    x.style.display = 'none';
  }
}
</script>